<!-- src/app/list-user/list-user.component.html -->

<div>
    <h2>User List</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Mobile</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.userId }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.mobileNo }}</td>
        </tr>
      </tbody>
    </table>
  
    <!-- <div>
      <button (click)="previousPage()" [disabled]="currentPage === 0">Previous</button>
      <span>Page {{ currentPage + 1 }} of {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="currentPage >= totalPages - 1">Next</button>
    </div> -->
  </div>
  