<div class="card">
  <div class="head-container">
    <h3><strong>Users List</strong></h3>
    <div class="search-container">
      <input
        [(ngModel)]="searchValue"
        (ngModelChange)="searchSubject.next(searchValue)"
        placeholder="Search users..."
        class="search-input"
        pInputText 
        class="mr-3"
      />
      <p-button  [raised]="true" icon="fa-solid fa-broom-wide" (click)="clear(dt1)" class="clear-button"></p-button>
    </div>
  </div>
  
  <hr>

  <p-table
    #dt1
    [value]="users"
    [rows]="pageSize"
    [totalRecords]="totalPages * pageSize"
    [loading]="loading"
    [responsiveLayout]="'scroll'"
    [globalFilterFields]="['name', 'username', 'email', 'mobileNo']"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="userId" (click)="changeSort('userId')">ID <p-sortIcon field="userId"></p-sortIcon></th>
        <th pSortableColumn="name" (click)="changeSort('name')">Name <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="username" (click)="changeSort('username')">Username <p-sortIcon field="username"></p-sortIcon></th>
        <th pSortableColumn="email" (click)="changeSort('email')">Email <p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="mobileNo" (click)="changeSort('mobileNo')">Mobile <p-sortIcon field="mobileNo"></p-sortIcon></th>
        <th pSortableColumn="city" (click)="changeSort('city')">City <p-sortIcon field="city"></p-sortIcon></th>
        <th>Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>{{ user.userId }}</td>
        <td>{{ user.name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email || 'N/A' }}</td>
        <td>{{ user.mobileNo }}</td>
        <td>{{ user.city }}</td>
        <td class="action-container">
          <p-button icon="fa-solid fa-circle-info" severity="info"/>
          <p-button icon="fas fa-pen-to-square" severity="warning"/>
          <p-button icon="fa-solid fa-trash" severity="danger"/>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="emptymessage">
      <tr>
        <td colspan="5">No users found.</td>
      </tr>
    </ng-template>

    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">
          <p-paginator
            [rows]="pageSize"
            [totalRecords]="totalPages * pageSize"
            (onPageChange)="onPageChange($event)"
            [rowsPerPageOptions]="[10, 25, 50]"
            [first]="currentPage * pageSize"
          ></p-paginator>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
<p-sidebar [(visible)]="sidebarVisible" position="right">
  <h3>Right Sidebar</h3>
</p-sidebar>
